/* Imported the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#gameTitle{
    font-family: Poppins, sans-serif;
}

#homePage{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    /* row-gap: 540px; */
    justify-content: space-around;
}

div{
    text-align: center;
}
