/* Imported the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#gameTitle, #homePage > div:nth-child(3) > button {
    font-family: Poppins, sans-serif;
}

#gameTitle {
    font-size: 68px;
    color: white;
    font-family: 'Gugi', cursive;
    text-shadow: 0 6px 3px rgba(0, 0, 0, 0.25);
}

#homePageSection {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    /* row-gap: 540px; */
    justify-content: space-around;
}

div {
    text-align: center;
}

#homePageSection > div:nth-child(2) {
    position: relative;
    /*bottom: 78px;*/

    /*bottom: 83px;*/
    bottom: 76px;
}

#homePageSection > div:nth-child(3) > button {
    width: 180px;
    font-size: 23px;
    border-radius: 39px;
    border: 7px solid #cecece;
    padding: 10px 28px 10px 75px;
    display: inline-flex;
    position: relative;
    background-color: #11517c;
    color: white;
    box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#btnPlay > div {
    width: 55px;
    height: 55px;
    position: absolute;
    left: -1px;
    bottom: 0;
    border-radius: 100%;
    background: url(../img/play1.png) center;
    background-size: cover;
}

#btnPlay {
    transition: all 0.8s ease;
}

#btnPlay:hover {
    transition: all 0.8s ease;
    transform: scale(0.95);
    box-shadow: 1px 1px 54px 1px rgba(0, 0, 0, 0.22) !important;
    cursor: pointer;
}

#homePageSection > div:first-child > img {
    /*width: 325px;
    height: 325px;
    object-fit: cover;*/

    width: 296px;
    height: 296px;
    object-fit: cover;
}

#homePageSection > div:nth-child(3) {
    /*bottom: 134px;*/
    bottom: 126px;
    position: relative;
}

#homePageSection > img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    padding: 0;
}

#homePageSection > div {
    z-index: 1;
}

#leftArrowKey, #rightArrowKey, #upArrowKey {
    width: 30px;
    height: 30px;
    bottom: 3px;
}

#spaceKey {
    width: 65px;
    height: 65px;
    bottom: 42px;
}

#gameControlSection {
    color: white;
    position: absolute;
    width: 430px;
    height: 125px;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    right: 6px;
    row-gap: 11px;
    align-items: center;
    padding-top: 16px;
}

#gameControlSection h6, #gameControlSection img {
    position: relative;
}

#gameControlSection > section {
    display: flex;
    column-gap: 13px;
}

#level_1_section {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #062334;
}

#level_1_section > div:nth-child(2) {
    width: 230px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-family: Ubuntu, sans-serif;
    right: 5px;
    top: 15px;
    font-size: 28px;
}

#level_1_section > div:nth-child(2) > input {
    font-size: 18px;
}

#level_1_section > div:nth-child(3) {
    position: absolute;
    font-family: Ubuntu, sans-serif;
    left: 15px;
    top: 15px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 13px;
}

#level_1_section > div:nth-child(3) > label:first-child {
    color: white;
    font-size: 29px;
}

#level_1_section > div:nth-child(3) > label:nth-child(2) {
    color: white;
    font-size: 24px;
}

#btnStartPlay {
    position: absolute;
    background: url(../img/playButton2.png) center;
    background-size: cover;
    width: 190px;
    height: 75px;
    bottom: 121px;
    left: 425px;
}

#btnStartPlay {
    cursor: pointer;
}

#rocket {
    position: absolute;
    bottom: -7px;
}

#rocket > img {
    /*width: 130px;
    height: 138px;
    object-fit: cover;*/

    /*width: 136px;
    height: 145px;
    object-fit: cover;*/

    width: 75px;
    height: 136px;
    object-fit: cover;
}

.zombies {
    position: absolute;
}

.zombies > img {
    /* width: 129px;
     height: 200px;*/

    /*width: 100px;
    height: 154px;
    object-fit: cover;*/

    width: 110px;
    height: 120px;
    background-position: center;
    background-size: cover;
}

#level_1_gamePlayContainer > div:nth-child(4) {
    left: 2vw;
}

#level_1_gamePlayContainer > div:nth-child(5) {
    left: 12vw;
}

#level_1_gamePlayContainer > div:nth-child(6) {
    left: 23vw;
}

#level_1_gamePlayContainer > div:nth-child(7) {
    left: 32vw;
}

#level_1_gamePlayContainer > div:nth-child(8) {
    left: 46vw;
}

#level_1_gamePlayContainer > div:nth-child(9) {
    left: 57vw;
}

.hiddenZombies {
    display: none;
}

.bullet {
    background: url(../img/bullet2.png) center;
    background-size: cover;
    position: absolute;
    bottom: 124px;

    left: 478px;
    width: 86px;

    /*  2022-11-24
     left: 504px;
     width: 31px;*/

    height: 65px;
    /*z-index: -1;*/
}

#level_1_gamePlayContainer > img:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    object-fit: cover;
    border-radius: 36px;
}

#level_1_gamePlayContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1033px;
    height: 95%;
    padding: 0;
    border-radius: 36px;
    overflow: hidden;
}

#gameWinModal {
    font-family: Ubuntu, sans-serif;
}

.modal-header {
    background: linear-gradient(90deg, rgba(15, 12, 93, 1) 0%, rgba(24, 24, 140, 1) 35%, rgba(9, 205, 247, 1) 100%);
    color: white;
    height: 62px;
    justify-content: center !important;
    border: none;
}

.modal-footer {
    justify-content: flex-start !important;
    padding-left: 13px;
    margin: 0;
    column-gap: 7px;
    border: none;
}

.modal-title {
    position: absolute;
    font-size: 28px;
}

#btnNext {
    padding-left: 16px;
    padding-right: 16px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
}

.modal-content {
    /*background: radial-gradient(black, transparent);*/
    opacity: 98%;
    color: white;

    /*background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);*/
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border: none;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

@keyframes modal-animation {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1.00);
    }
}

.modal-content {
    animation-name: modal-animation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: linear;
}